li{
  background: grey;
  list-style: none;
  width: 910px;
  margin-top: 25px;
  margin-left: 20px;

}
.image_link{
  width: 30px;
  /*height: auto;*/
  float: left;
  /*background: pink;*/
}
.image_link img{
  border-radius: 50%;
}
.right{
  width: 800px;
  float: left;
  margin-left: 15px;
}
.right_top a{
  text-decoration: none;
}
.right_top .name{
  color: #DD3915;
}
.right_top span{
  color: grey;
}
.right_bottom{
  margin-top: 10px;
}

