.container{
  width: 1130px;
  margin-left: -20px;
}
#nav{
  background: #DD3915;
  width: 100%;
  height: 45px;
  text-align: center;
}
.nav_logo{
  display: block;
  float: left;
  width: 145px;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  /*background: grey;*/
  padding-left: 40px;
}
.nav_logo span{
  font-size: 23px;
  font-weight: 600;
  color: white;
}
.nav_bar ul{
  float: left;
  margin-left: -10px;
}
.nav_bar li{
  list-style: none;
  height: 35px;
  float: left;
  line-height: 35px;
  margin-top: 5px;
  margin-left: 23px;
  /*background: yellowgreen;*/
}
.nav_bar a{
   text-decoration: none;
   color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
 }
.nav_bar li:hover .nav_a{
  color: rgba(237, 237, 237, 0.77);
}
.search{
  float: left;
  margin-left: 35px;
  margin-top: 7.5px;
}
.search input{
  float: left;
  border-radius: 0px;
  width: 280px;
  height: 30px;
}
.search a{
  display: block;
  /*background: #DD3915;*/
  color: white;
  text-decoration: none;
  width: 50px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
}
.personal{
  float: left;
  margin-left: 200px;
  line-height: 45px;
  position: relative;
}
.drop-down{
  width: 90px;
  height: 150px;
  background: #DD3915;
  display: none;
  position: absolute;
  left: -30px;
}
.drop-down a{
  display: block;
  /*background: grey;*/
  margin-top: 5px;
  width: 90px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: white;
}
.personal:hover .drop-down{
  display: block;
}
.my_headpic{
   border-radius: 50%;
 }
.nav_bar li .nav_a.active{
  color: rgba(237, 237, 237, 0.77);
}
.drop-down a:hover{
  color: rgba(237, 237, 237, 0.77);
}

.container_bottom{
  height: 200px;
  width: 1100px;
}
.bottom_up{
  width: 140px;
  height: 45px;
  background: #84CF6D;
  padding-top: 15px;
  padding-left: 40px;
  margin-top: 100px;
  margin-left: 30px;
  color: #fefefe;
}
.bottom_down{
  margin-left: 30px;
  margin-top: 20px;
}
.bottom_down a{
  color: grey;
  font-size: 13px;
  text-decoration: none;
}



