<!--The content below is only a placeholder and can be replaced.-->
<!--路由的指引-->
<!--头部导航加上一个容器-->
<div class="container">
  <nav class="row" id="nav">
      <div class="col-md-1 col-lg-1">
        <a routerLink='/index'>
          <span class="logo_span">logo</span>
          <!--<span class="logo_span">味蕾</span>-->
        </a>
      </div>
      <ul class="nav_left col-md-4 col-lg-4" >
        <li><a routerLink="/index" routerLinkActive="active" >首页</a></li>
        <li><a routerLink="/hot-list" routerLinkActive="active">热门</a></li>
        <li><a routerLink="/menu-classify" routerLinkActive="active">菜谱分类</a></li>
        <li><a routerLink="/dynamic" routerLinkActive="active">动态</a></li>
      </ul>
      <div class="col-md-5 col-lg-5">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control search" placeholder="搜索菜谱、食材、用户">
          </div>
          <a class="search_btn" routerLink="/search"  routerLinkActive="active">搜索</a>
        </form>
      </div>
      <ul class="nav_right col-md-2 col-lg-2">
        <li><a routerLink="/personal-center" routerLinkActive="active">个人中心</a></li>
        <!--<li><a routerLink="/login" routerLinkActive="active">登陆</a></li>
        <li><a routerLink="/register" routerLinkActive="active">注册</a></li>-->
      </ul>
    </nav>
</div>
<div class="container_content">
  <!--占位-->
  <router-outlet #outlet></router-outlet>
</div>
<div class="container_bottom">
  <div class="bottom_up">
    广告合作
  </div>
  <div class="bottom_down">
    <a href="">美食生活杂志</a>&nbsp;
    <a href="">厨房工作</a>&nbsp;
    <a href="">社区指导原则</a>&nbsp;
    <a href="">下厨房出版的书</a>&nbsp;
    <a href="">帮助中心</a>&nbsp;
    <a href="">联系我们</a>&nbsp;
    <a href="">意见反馈</a>&nbsp;
    <a href="">隐私声明</a>&nbsp;
  </div>
</div>
