ul li {
  padding: 0 0 20px;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  line-height: 30px;
}
a {
  overflow: hidden;
  text-decoration: none;
}

.navbar {
  height: 100px;
  background: lightsteelblue;
}

.has-border {
  border: 1px solid blanchedalmond;
}

.left-action, .middle-action, .right-action {
}

.right-action-right {
  float: right;
  padding: 35px 30px;
}

.right-action-left {
  float: left;
}

.right-txt {
  padding: 10px 0;
}

.footer {
  padding-top: 80px;

}
.footer-bor{
  padding-top: 20px;
  border-top: 1px solid #84cf6d;
}

