<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>菜单</title>
  <link rel="stylesheet" href="menu-gather.component.css">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="navbar col-lg-12 ">
  <nav class="navbar navbar-default navbar-fixed-top">
    <h1 class="">导航</h1>
  </nav>
</div>
<div class="matter col-lg-12 ">
  <div class="col-lg-3 col-sm-4 left-action">
    <ul>
      <li><h1><a href="#">全部分类</a></h1></li>
      <li><a href="#">本周最受欢迎</a></li>
      <li><a href="#">新秀菜谱</a></li>
      <li><a href="#">往期头像</a></li>
      <li><a href="#">厨房101</a></li>
      <li><a href="#">月度最佳</a></li>
    </ul>
    <ul>
      <li><h1><a href="#">流行搜索</a></h1></li>
      <li><a href="#">月饼</a></li>
      <li><a href="#">蛋黄酥</a></li>
      <li><a href="#">冰皮月饼</a></li>
      <li><a href="#">豆腐</a></li>
      <li><a href="#">早餐</a></li>
      <li><a href="#">蛋糕</a></li>
      <li><a href="#">蛋挞</a></li>
      <li><a href="#">面包</a></li>
      <li><a href="#">卤水</a></li>
    </ul>
  </div>
  <div class="col-lg-6  col-sm-4   middle-action ">
    <ul>
      <li>
        <div><h1><a href="#">菜单</a></h1></div>
      </li>
      <li>
        <div class=""><a href="#">最近流行&nbsp;&nbsp;&nbsp;
        </a>|<a href="#">&nbsp;&nbsp;&nbsp;最新创建</a></div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/2.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6 ">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/3.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/4.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/5.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/6.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
      <li>
        <div class="has-border clearfix">
          <div class="col-lg-6">
            <a href="#"><img src="./images/午1.jpg" alt="零食可以有"></a>
          </div>
          <div class="col-lg-6">
            <p><a href="#" target="_blank"><span>零食可以有</span></a></p>
            <p>34菜谱</p>
            <a href="#">水精花</a>
            &nbsp;创建&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>80&nbsp;收藏</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-3  col-sm-4  visible-lg-* right-action">
    <div class="">
      <div class="right-action-left"><h1><a href="#">流行菜单</a></h1></div>
      <div class="right-action-right"><a href="#" target="_blank">全部</a></div>
    </div>
    <div>
      <a href="#" target="_blank">
        <img src="images/11.jpg" alt="减肥吃这些(ˉ﹃ˉ)的封面" width="300" height="140">
        <div class="right-txt">减肥吃这些(ˉ﹃ˉ)</div>
      </a>
      <a href="#" title="馅、酱料、调味品" target="_blank">
        <img src="images/12.jpg" width="300" height="140">
        <div class="right-txt">馅、酱料、调味品</div>
      </a>
      <a href="#" title="馅、酱料、调味品" target="_blank">
        <img src="images/13.jpg" width="300" height="140">
        <div class="right-txt">馅、酱料、调味品</div>
      </a>
      <a href="#" title="馅、酱料、调味品" target="_blank">
        <img src="images/14.jpg" width="300" height="140">
        <div class="right-txt">馅、酱料、调味品</div>
      </a>
      <a href="#" title="馅、酱料、调味品" target="_blank">
        <img src="images/15.jpg" width="300" height="140">
        <div class="right-txt">馅、酱料、调味品</div>
      </a>
    </div>
  </div>

</div>
<div class="footer col-lg-12 ">
  <div class="col-lg-12 footer-bor ">
    <div class=" col-lg-9 ">
      <a href="#" target="_blank" title="美食生活杂志">美食生活杂志</a> &nbsp;
      <a href="#" target="_blank" title="厨房工作">厨房工作</a> &nbsp;
      <a href="#" target="_blank" title="社区指导原则">社区指导原则</a> &nbsp;
      <a href="#" target="_blank" title="下厨房出版的书">下厨房出版的书</a> &nbsp;
      <a href="#" target="_blank" title="帮助中心">帮助中心</a> &nbsp;
      <a href="#" target="_blank" title="联系我们">联系我们</a> &nbsp;
      <a href="#" title="意见反馈" rel="nofollow">意见反馈</a> &nbsp;
      <a href="#" target="_blank" title="隐私声明">隐私声明</a>
    </div>
    <div class="col-lg-2 col-lg-offset-1 ">
      <a href="#" target="_blank" rel="nofollow">
        <img src="images/捕获.PNG" alt="微博" title="微博">
      </a>
      &nbsp;
      <a href="#" target="_blank" rel="nofollow">
        <img src="images/捕获1.PNG" alt="Twitter" title="Twitter">
      </a>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-9 ">
      Copyright © xiachufang.com &nbsp;
      <a href="http://www.miibeian.gov.cn" class="gray-link" target="_blank" rel="nofollow">京ICP备13009078号-1</a> &nbsp;
      京公网安备11010802022310号
    </div>
    <div class="col-lg-2 col-lg-offset-1 ">
      唯有美食与爱不可辜负
    </div>
  </div>
</div>
</body>
</html>

