<div class="follow-go-users">
  <p class="text">我关注的厨友</p>
  <div class="single_user">
    <div class="user_headpic"><img src="../../../assets/images/user-head2.jpg" height="60" width="60"/></div>
    <div class="user_name"><a >吃货研究所</a></div>
  </div>
  <div class="single_user">
    <div class="user_headpic"><img src="../../../assets/images/user-head3.jpg" height="60" width="60"/></div>
    <div class="user_name"><a >丁香食堂</a></div>
  </div>
  <div class="single_user">
    <div class="user_headpic"><img src="../../../assets/images/user-head4.jpg" height="60" width="60"/></div>
    <div class="user_name"><a >企鹅吃喝指南</a></div>
  </div>
  <div class="single_user">
    <div class="user_headpic"><img src="../../../assets/images/user-head.jpg" height="60" width="60"/></div>
    <div class="user_name"><a >小白素食记录</a></div>
  </div>
</div>
