<div class="menu_gather">
  <div class="single_menu_gather">
    <div class="cover_pic"><img src="../../../assets/images/menu-gather-cover.jpg" height="136" width="215"/></div>
    <div class="menu_gather_name"><a routerLink="/menu-gather" routerLinkActive="active">宿舍的电饭煲</a></div>
    <div class="include_menunum">88菜谱</div>
    <div class="author"><a href="">叫我甜甜君</a> </div>
    <div class="favoritnum">678人收藏</div>
  </div>
  <div class="single_menu_gather">
    <div class="cover_pic"><img src="../../../assets/images/menu-gather-cover.jpg" height="136" width="215"/></div>
    <div class="menu_gather_name"><a routerLink="/menu-gather" routerLinkActive="active">宿舍的电饭煲</a></div>
    <div class="include_menunum">88菜谱</div>
    <div class="author"><a href="">叫我甜甜君</a> </div>
    <div class="favoritnum">678人收藏</div>
  </div>
</div>
