<!--<h1>
  personal-center works!
</h1>-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="headpic "><img src="../../assets/images/headpic.jpg" height="160" width="160"/></div>
      <div class="simple_info">
        <p class="simple_info_nickname">叫我甜甜君的厨房</p>
        <p class="simple_info_joindate">2015-12-18加入</p>
        <p class="simple_info_menunum">创建了2个菜谱</p>
        <p class="simple_info_favoritenum">被收藏20次</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="set">
        <a routerLink="/account-set" routerLinkActive="active">设置个人信息</a>
      </div>
      <div class="follow ">
        <div class="follow_go">
          <p>关注的人</p>
          <a routerLink="./follow-go" routerLinkActive="active">4</a>
          <!--这个路由还没写-->
        </div>
        <div class="follow_be">
          <div>
          <p>被关注</p>
          <a routerLink="./follow-be" routerLinkActive="active">4</a>
          </div>
          <!--这个路由也没写-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="col-md-12 col-lg-12 tabs">
      <li><a routerLink='./my-menu' routerLinkActive="active">菜谱</a></li>
      <li><a routerLink="./my-menu-gather" routerLinkActive="active">菜单</a></li>
      <li><a routerLink="./my-product" routerLinkActive="active">作品</a></li>
      <li><a routerLink="./message-board" routerLinkActive="active">留言板</a></li>
      <li><a class="blank"></a></li>
      <li><a routerLink="./favorite-menu" routerLinkActive="active">收藏菜谱</a></li>
      <li><a routerLink="./favorite" routerLinkActive="active">收藏菜单</a></li>
    </ul>
    <div>
      <!--占位-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
