<div class="products">
  <div class="single_product">
    <div class="product_pic"><img src="../../../assets/images/product.png" height="280" width="280"/></div>
    <div class="product_pic_darken">
      <div class="dianzan"><a href="">赞</a></div>
    </div>
    <!--鼠标移动到图片上显示变暗效果-->
    <div class="product_name"><a href="">干煸四季豆</a></div>
    <!--作品名称只能是上传作品处的菜谱名-->
    <!--点击作品名称跳转的是原菜谱页面-->
    <div class="product_describe">这个四季豆超级好吃并根据数据库i哦啊涉及到法律螺丝钉解放角度考虑</div>
    <div class="product_datetime">2017-9-12</div>
    <div class="product_zan">998赞</div>
  </div>
  <div class="single_product">
    <div class="product_pic"><img src="../../../assets/images/product02.png" height="280" width="280"/></div>
    <div class="product_pic_darken">
      <div class="dianzan"><a href="">赞</a></div>
    </div>
    <!--鼠标移动到图片上显示变暗效果-->
    <div class="product_name"><a href="">松茸饭</a></div>
    <!--作品名称只能是上传作品处的菜谱名-->
    <!--点击作品名称跳转的是原菜谱页面-->
    <div class="product_describe">这个松茸饭简直是饭间极品</div>
    <div class="product_datetime">2017-1-12</div>
    <div class="product_zan">398赞</div>
  </div>
</div>
